<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
      "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.report.mapper.ProfessorLectureMapper">

   <select id="findOne" resultType="ProfessorLecture">
      SELECT * FROM ProfessorLecture
      WHERE professor_lecture_no = #{professor_lecture_no}
   </select>
   <select id="findByProfessorNo" resultType="ProfessorLecture">
	  SELECT * FROM ProfessorLecture
	  FROM ProfessorLecture pl LEFT JOIN professor p ON pl.professor_no = p.no
      WHERE professor_no = #{professor_no}
	</select>
    <select id="findByLectureNo" resultType="ProfessorLecture">
	  SELECT * FROM ProfessorLecture
	  FROM ProfessorLecture pl LEFT JOIN lecture l ON l.lecture_no = p.no
      WHERE lecture_no = #{lecture_no}
	</select>
</mapper>