<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.report.mapper.ProfessorNoticeMapper">

    <select id="list" resultType="ProfessorNotice">
        SELECT *<!-- header,title,date_format(deadline, '%Y-%m-%d %H:%i'),date_format(deadline_add, '%Y-%m-%d %H:%i'),perfect_score -->
        FROM professor_notice 
        WHERE lecture_no = #{lecture_no}
        order by notice_no desc
    </select>

    <select id="findOne" resultType="ProfessorNotice">
        SELECT *
        FROM professor_notice 
        WHERE notice_no = #{notice_no}
    </select>
    
    <select id="findByOne" resultType="ProfessorNotice">
        SELECT *
        FROM professor_notice 
        WHERE title = #{title}
    </select>
    

    <insert id="insert" useGeneratedKeys="true" keyProperty="notice_no">
        INSERT professor_notice(lecture_no, professor_no, header, title, content, submitdate, deadline, deadline_add, perfect_score)
        VALUES (#{lecture_no}, #{professor_no}, "과제", #{title}, #{content}, now(), #{deadline}, #{deadline_add}
        , #{perfect_score})
    </insert>

	<update id="update">
        UPDATE professor_notice
        SET title = #{title}
        ,content = #{content}
        ,perfect_score = #{perfect_score}
        ,submitdate = date_format(now(), '%Y-%m-%d')
        ,deadline = #{deadline}
        ,deadline_add = #{deadline_add}
        WHERE notice_no = #{notice_no}
    </update>

    <delete id="delete">
        DELETE FROM professor_notice
        WHERE notice_no = #{notice_no}
    </delete>

</mapper>