<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.report.mapper.StudentNoticeMapper">

    <select id="list" resultType="StudentNotice">
    SELECT sn.studentnotice_no, sn.title, s.name, sn.submitdate
    FROM student_notice sn
    LEFT JOIN student s ON sn.student_no = s.student_no
    WHERE lecture_no = #{lecture_no}
    order by sn.studentnotice_no desc
 </select>

    <select id="findOne" resultType="StudentNotice">
    SELECT *
    FROM student_notice
    WHERE studentnotice_no = #{studentnotice_no}
 </select>

    <insert id="insert" useGeneratedKeys="true" keyProperty="studentnotice_no">
    INSERT student_notice(title, content, student_no, submitdate, lecture_no)
    VALUES (#{title}, #{content}, #{student_no}, date_format(now(), '%Y-%m-%d'), #{lecture_no})
 </insert>

    <update id="update">
    UPDATE student_notice
    SET title = #{title},
    content = #{content},
    submitdate = date_format(now(), '%Y-%m-%d')
    WHERE studentnotice_no = #{studentnotice_no}
</update>

    <delete id="delete">
    DELETE FROM student_notice
    WHERE studentnotice_no = #{studentnotice_no}
</delete>
</mapper>