<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.report.mapper.StudentLectureMapper">

	<select id="findOne" resultType="StudentLecture">
		SELECT * FROM StudentLecture
		WHERE student_lecture_no = #{student_lecture_no}
	</select>

	<select id="findByStudentLecture" resultType="StudentLecture">
		SELECT l.*
		FROM dbcap.student_lecture sl LEFT JOIN dbcap.student s ON s.student_no =
		sl.student_no
		LEFT JOIN dbcap.lecture l ON sl.lecture_no = l.lecture_no
		where student_name = #{student_name}
	</select>

</mapper>