<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
             "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.report.mapper.StudentMapper">

  <select id="findOne" resultType="Student">
    SELECT * FROM Student WHERE student_no = #{student_no}
  </select>
  
  <select id="findByStudentId" resultType="Student">
    SELECT s.*
    FROM Student s 
    JOIN department d on s.department_no = d.department_no
    WHERE s.id = #{id};
  </select>    
  
  <select id="findByStudentLecture1" resultType="Lecture">
    SELECT l.*
	FROM student_lecture sl 
	join student s on sl.student_no = s.student_no and s.id = #{id}
	join lecture l on sl.lecture_no = l.lecture_no and l.lecture_Type = "전공"
	join professor_lecture pl on l.lecture_no = pl.lecture_no
	join professor p on pl.professor_no = p.professor_no;
  </select>

  
  <select id="findByStudentLecture2" resultType="Lecture">
    SELECT l.*
	FROM student_lecture sl 
	join student s on sl.student_no = s.student_no and s.id = #{id}
	join lecture l on sl.lecture_no = l.lecture_no and l.lecture_Type = "교양"
	join professor_lecture pl on l.lecture_no = pl.lecture_no
	join professor p on pl.professor_no = p.professor_no;
  </select>

  <select id="findAll" resultType="Student">
    SELECT s.*, d.department_name
    FROM Student s LEFT JOIN department d ON s.department_no = d.no
  </select>

  <insert id="insert" useGeneratedKeys="true" keyProperty="student_no">
    INSERT Student (id, name, department_no, student_email, student_phone, password_question, password_answer, password1, password2, userType)
    VALUES (#{id}, #{name}, #{department_no}, #{student_email}, #{student_phone}, #{password_question}, #{password_answer}, #{password1}, #{password2}, '학생')
  </insert>

  <update id="update">
    UPDATE Student SET 
      id = #{id},
      name = #{name},
      department_no = #{department_no},
      student_email = #{student_email},
      student_phone = #{student_phone},
      password1 = #{password1},
      password2 = #{password2},
      password_question = #{password_question},
      password_answer = #{password_answer}
    WHERE student_no = #{student_no}
  </update>

  <delete id="delete">
    DELETE FROM Student WHERE student_no = #{student_no}
  </delete>

</mapper>

