<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.report.mapper.TaMapper">

	<insert id="insert" useGeneratedKeys="true" keyProperty="ta_no">
		INSERT Ta (ta_id, professor_no, password)
		VALUES (#{ta_id}, #{professor_no}, #{password})
	</insert>

	<update id="update">
		UPDATE Ta SET
		ta_id = #{ta_id},
		professor_no = #{professor_no},
		password = #{password}
		where ta_no = #{ta_no}
	</update>

	<delete id="delete">
		DELETE FROM Ta WHERE ta_no = #{ta_no}
	</delete>
</mapper>