<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
		"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.report.mapper.UserMapper">

	<select id="findOne" resultType="User">
		SELECT * FROM User WHERE no = #{no}
	</select>

	<select id="findByLoginId" resultType="User">
		SELECT *
		FROM User
		WHERE id = #{id}
	</select>

	<select id="findAll" resultType="User">
		SELECT u.*, d.departmentName
		FROM User u LEFT JOIN department d ON u.department_no = d.department_no
	</select>

	<insert id="studentInsert" useGeneratedKeys="true" keyProperty="no">
		INSERT USER (id, password1, name, email, userType, department_no, password_question, password_answer)
		VALUES (#{id}, #{password1}, #{name}, #{email}, '학생', #{department_no}, #{password_question}, #{password_answer})
	</insert>
	
	<insert id="professorInsert" useGeneratedKeys="true" keyProperty="no">
		INSERT USER (id, password1, name, email, userType, department_no, password_question, password_answer)
		VALUES (#{id}, #{password1}, #{name}, #{email}, '교수', #{department_no}, #{password_question}, #{password_answer})
	</insert>
	
	<insert id="taInsert" useGeneratedKeys="true" keyProperty="no">
		INSERT USER (id, password1, userType)
		VALUES (#{id}, #{password1} , 'TA')
	</insert>

	<update id="update">
		UPDATE User SET
		password1 = #{password1},
		name = #{name},
		email = #{email},
		password_question = #{password_question},
        password_answer = #{password_answer},
		department_no = #{department_no}
		WHERE no = #{no}
	</update>


	<delete id="delete">
		DELETE FROM User WHERE no = #{no}
	</delete>
	
	
	
	
</mapper>